<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Redirect Button</title>
<script>
  function redirectToAuthorization() {
    window.location.href = "/authorization";
  }
  function redirectToNewUser() {
    window.location.href = "/newuser";
  }
</script>
</head>
<body>
  <button onclick="redirectToAuthorization()">Authorization Button</button>
  <button onclick="redirectToNewUser()">New user Button</button>
</body>
</html>